.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* backdrop-filter: blur(39px) brightness(100%); */
  background-color: var(--white);
  z-index: 2;
}
.logo {
  position: absolute;
  left: 100px;
  top: 20px;
  font-weight: bold;
  color: var(--red);
  font-size: 20px;
}
.burger {
  position: absolute;
  right: 50px;
  top: 25px;
  display: none;
}
.burger-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.bur {
  width: 30px;
  height: 3px;
  background-color: var(--black);
  border-radius: 2px;
  margin: 3px 0;
  transition: all 0.2s linear;
}
.bur1-clicked {
  transform: rotate(45deg) translateY(12px);
}
.bur2-clicked {
  width: 0;
}
.bur3-clicked {
  transform: rotate(-45deg) translateY(-12px);
}

.header-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}
.header-li {
  margin: 0 20px;
  color: var(--black);
  font-weight: bold;
}
.header-li:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .header-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    width: 100vw;
    height: 100vh;
  }
  .header-li {
    margin: 20px;
    font-size: 25px;
    color: var(--black);
    opacity: 0;
  }
  .logo {
    left: 50px;
    top: 20px;
    font-weight: bold;
    color: var(--red);
    font-size: 20px;
  }
  .burger {
    position: absolute;
    right: 50px;
    top: 20px;
    display: block;
  }
}
