.my-works {
  width: 100%;

  background-color: var(--black);
  display: flex;
  justify-content: center;

  color: var(--white);
  height: 100vh;
  min-height: 760px;
}
.my-works-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px;
}
.works-head {
  font-size: 50px;
  font-weight: normal;
  color: var(--white-font);

  width: 100%;
  display: flex;
  align-items: center;
}
.works-card {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: fit-content;
  height: 100%;
}

/* -=-=-=-=-=-=-=-card-=-=-=-=-=-=-=- */
.work-card {
}
.card-content {
  position: relative;
  width: 180px;
  height: fit-content;
}
.work-card-title {
  position: absolute;
  width: fit-content;
  left: 30px;
  top: 22px;
  font-size: 25px;
  font-weight: normal;
  color: var(--white-font);
  white-space: nowrap;
}
.circle {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
}
/* -=-=-=-=--=-=-=-=-= */
@media screen and (max-width: 600px) {
  .works-card {
    grid-template-columns: 100%;
  }
  .works-head {
    padding: 20px;
  }
  .my-works-content {
    width: 100%;
    padding: 0;
  }
}
@media screen and (min-width: 601px) and (max-width: 920px) {
  .works-card {
    grid-template-columns: 50% 50%;
  }
  .works-head {
    padding: 50px 70px;
  }
}
@media screen and (min-width: 921px) {
  .works-head {
    padding: 50px;
  }
}
