.gradient {
  background-color: var(--black);
}

/* IE8- CSS hack */
/* @media \0screen\, screen\9 {
  .gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4c7a92",endColorstr="#ff03202f",GradientType=0);
  }
} */
.footer {
  margin-top: 100px;
  min-height: 100vh;
  height: fit-content;
  /* background-color: var(--black); */
  color: var(--white);
  position: relative;
  overflow: hidden;
  text-align: center;

  display: flex;
  flex-direction: column;
}
.footer-head .one {
  font-style: italic;
  opacity: 0.6;
  font-size: 20px;
  margin-top: 30px;
}
.footer-head .two {
  font-weight: bold;
  font-size: 50px;
  margin-top: 30px;
}
.footer-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.footer-body > div {
  width: 250px;
  height: fit-content;
  margin-top: 100px;
  font-size: 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.social {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}
.social > * {
  margin: 0 5px;
}
.line {
  width: 170px;
  height: 1px;
  background-color: var(--white);
}
.location,
.line {
  margin-top: 10px;
  opacity: 0.6;
}
.building {
  position: absolute;
  bottom: -50px;
  /* width: 100%; */
  height: 300px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  .footer {
    /* margin: 0; */
    min-height: calc(100vh + 100px);
  }
  .building {
    height: 300px;
  }
  .footer-body {
    flex-direction: column;
  }
}
@media screen and (min-width: 801px) {
  .building {
    width: 100%;
    height: auto;
  }
}
