:root {
  --black: #03202f;
  --red: #c60c30;
  --blue: #00338d;
  --gray: #ececec;
  --white: #ffffff;
  --white-font: #e6e9ea;
}
* {
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Trebuchet MS";
}
ul {
  margin: 0 !important;
}
html {
  scroll-behavior: smooth;
  background-color: var(--black);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 9px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}
/* Handle */
::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  background: var(--white-font);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--white);
  box-shadow: 0 0 5px var(--white);
  /* border-radius: 10px; */
}

@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: normal;
  src: local("Trebuchet MS"), url("fonts/trebuc.woff") format("woff");
}

@font-face {
  font-family: "Trebuchet MS Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Trebuchet MS Italic"),
    url("fonts/Trebuchet-MS-Italic.woff") format("woff");
}

.App {
  position: relative;
  width: 100%;
  height: fit-content;
}
